.category-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 20px;
}

.product-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 20px;
}